  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    z-index: 9999;
  }
  
  .fullscreen iframe {
    width: 100%;
    height: 100%;
  }
  
/* Base scrollbar hiding */
.scrollbar-hide {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

/* Webkit specific */
.scrollbar-hide::-webkit-scrollbar,
.scrollbar-hide::-webkit-scrollbar-track,
.scrollbar-hide::-webkit-scrollbar-thumb {
  width: 0 !important;
  height: 0 !important;
  background-color: transparent !important;
  display: none !important;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

/* Handle WebKit fullscreen */
:fullscreen .fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Handle Mozilla fullscreen */
:-moz-full-screen .fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Handle Microsoft fullscreen */
:-ms-fullscreen .fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

